<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dog.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @dog.age %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @dog.gender %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @dog.breed %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @dog.weight %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @dog.zipcode%>
</p>

<p>
  <strong>Playful:</strong>
  <%= @dog.playful %>
</p>

<p>
  <strong>Energetic:</strong>
  <%= @dog.energetic %>
</p>

<p>
  <strong>Friendly:</strong>
  <%= @dog.friendly %>
</p>

<p>
  <strong>Calm:</strong>
  <%= @dog.calm %>
</p>

<p>
  <strong>Affectionate:</strong>
  <%= @dog.affectionate %>
</p>

<p>
  <strong>Cuddly:</strong>
  <%= @dog.cuddly %>
</p>

<p>
  <strong>Intelligent:</strong>
  <%= @dog.intelligent %>
</p>

<p>
  <strong>Curious:</strong>
  <%= @dog.curious %>
</p>

<p>
  <strong>Sassy:</strong>
  <%= @dog.sassy %>
</p>

<p>
  <strong>Child friendly:</strong>
  <%= @dog.child_friendly %>
</p>

<p>
  <strong>Cat friendly:</strong>
  <%= @dog.cat_friendly %>
</p>

<p>
  <strong>Likes small dogs:</strong>
  <%= @dog.likes_small_dogs %>
</p>

<p>
  <strong>Likes big dogs:</strong>
  <%= @dog.likes_big_dogs %>
</p>

<p>
  <strong>Likes puppies:</strong>
  <%= @dog.likes_puppies %>
</p>

<p>
  <strong>Likes soul mate:</strong>
  <%= @dog.likes_soul_mate %>
</p>

<p>
  <strong>Likes younger dogs:</strong>
  <%= @dog.likes_younger_dogs %>
</p>

<p>
  <strong>Likes older dogs:</strong>
  <%= @dog.likes_older_dogs %>
</p>

<%= link_to 'Edit', edit_dog_path(@dog) %> |
<%= link_to 'Back', dogs_path %>
