<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Meet-Pup | Home</title>
    <link href="https://fonts.googleapis.com/css?family=Satisfy|Varela+Round&display=swap" rel="stylesheet">
  </head>
  <body class="background-blank">
      
    <div class="font-satisfy" id="register-title"> Meet-Pup </div>

    <div class="filter-wrapper">
      <%= form_for :matcher, url: {action: "home"}, :html => {:method => :get} do |f| %>
        <%= f.select :radius, [['Show All', 0], ['5 miles', 5], ['10 miles', 10], ['20 miles', 20], ['50 miles', 50], ['100 miles', 100]], {}, { class: "font-valera filter-input" } %>
        <%= f.submit "Filter", class: "font-valera filter-button" %>
      <% end %>
    </div>
    
    <div class="matchcards-container">
      <% (0..(@dogs.size-1)).step(4) do |i| %> 
        <% @dogs[i..i+3].each do |dog| %>
          <% if dog.name != '' %>
            <% if @talked_to.include? dog.id %>
              <a href="/users/<%= dog.id %>" >
                <div class="matchcard" style="">
                  <% if dog.image.attached? %>
                        <%= image_tag dog.image.variant(resize_to_fill: [294,394]), :style => "border: 6px solid #4bc2e3; z-index:-1; position: absolute; border-radius: 10px"%>
                    <% end %>
                  <div class="text-box-bg" style = "margin-top: 330px; z-index:1">
                    <p class="font-valera matchcard-text" style="font-size:22px;"> <%= dog.name %>, <%= dog.age %></p>
                    <p class="font-valera matchcard-text" style="font-size:18px;"> <%= dog.breed %> </p>
                  </div>
                </div>
              </a>
            <% else %>
              <a href="/users/<%= dog.id %>" >
                <div class="matchcard" style="">
                  <% if dog.image.attached? %>
                        <%= image_tag dog.image.variant(resize_to_fill: [300,400]), :style => " z-index:-1; position: absolute; border-radius: 10px"%>
                    <% end %>
                  <div class="text-box-bg" style = "margin-top: 330px; z-index:1">
                    <p class="font-valera matchcard-text" style="font-size:22px;"> <%= dog.name %>, <%= dog.age %></p>
                    <p class="font-valera matchcard-text" style="font-size:18px;"> <%= dog.breed %> </p>
                  </div>
                </div>
              </a>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </body>
</html>